[Unit]
Description=Pleroma social network
After=network.target postgresql.service nginx.service

[Service]
KillMode=process
Restart=on-failure
LimitNOFILE={{ pleroma_nofile }}

; Name of the user that runs the Pleroma service.
User={{ pleroma_user }}

; Make sure that all paths fit your installation.
; Path to the home directory of the user running the Pleroma service.
Environment="HOME={{ pleroma_app_dir }}/release"
; Path to the folder containing the Pleroma installation.
WorkingDirectory={{ pleroma_app_dir }}/release
; Path to the Pleroma binary.
ExecStart={{ pleroma_app_dir }}/release/bin/pleroma start
ExecStop={{ pleroma_app_dir }}/release/bin/pleroma stop

; Some security directives.
; Use private /tmp and /var/tmp folders inside a new file system namespace, which are discarded after the process stops.
PrivateTmp=true
; The /home, /root, and /run/user folders can not be accessed by this service anymore. If your Pleroma user has its home folder in one of the restricted places, or use one of these folders as its working directory, you have to set this to false.
ProtectHome=true
; Mount /usr, /boot, and /etc as read-only for processes invoked by this service.
ProtectSystem=full
; Sets up a new /dev mount for the process and only adds API pseudo devices like /dev/null, /dev/zero or /dev/random but not physical devices. Disabled by default because it may not work on devices like the Raspberry Pi.
PrivateDevices=false
; Ensures that the service process and all its children can never gain new privileges through execve().
NoNewPrivileges=true
; Drops the sysadmin capability from the daemon.
CapabilityBoundingSet=~CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target

